.main-page-style {
    margin-top: auto;
    background-color: var(--backgroundColor);
    color: var(--textColor);
    width: 96vw;
    height: 93vh;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
}
.main-page-style-side{
    width: 84vw;
}

.main-page-style-2 {
    background:#216477;
    width: 16vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    z-index: 6;
    overflow-y: auto;
    -webkit-transition: min-width 0.5s, width 0.5s;
    transition: min-width 0.5s, width 0.5s;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 4px 0px 9px;

}

.main-page-style-2-side {
    width: 0vw;
}

.logo-main {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
    height: 7vh;
}

.button-main-1:active {
    box-shadow: none;
    transform: translateY(0);
}

.main-page-style-2 .button-main-1 {
    font-size: 0.7vw;
    line-height: 2.75rem;
    width: 100%;
    box-sizing: border-box;
    transition-duration: .2s;
    color: white;
    background-color: transparent;
    border: none;
    text-align: left;
    padding-left: 1rem;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
    
}

.main-page-style-2-close .button-main-1 {
    width: 100%;
    transition-duration: .2s;
    color: #b8b8b8;
    background-color: transparent;
    border: none;
    height: 7vh;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
}

.button-main-1:disabled {
    pointer-events: none;
}

.button-main-1:hover {
    background-color: #338096;
}

.button-main-1-active {
    background-color: #338096!important;
    
}

.button-main-1:focus {
    background-color: #338096;
}


.h7-style {
    font-size: 0.9vw;
    padding-left: 1rem;
    color: white;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.main-page-style-2-close {
    background: #216477;
    width: 4vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    z-index: 6;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
    overflow: hidden;
}

.main-page-style-2-close-side {
    width: 0vw;
}

.main-page-style-2-close .logo-main {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
    height: 7vh;
    margin-bottom: 2vh;
}

.main-page-style-2-close .new-sla-button {
    background: #263644;
    font-size: 0.7vw;
    width: 80%;
    margin-left: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    box-sizing: border-box;
    border-color: hsla(0, 0%, 100%, .2);
    border-width: 1px;
    border-radius: 0.375rem;
    transition-duration: .2s;
    color: #fff;
    
    background-color: #fcb459;
    margin-bottom: 1rem;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
}

.arrow-button-right {
    background-color: transparent;
    border: none;
    -webkit-transition: left 0.5s;
    transition: left 0.5s;
    margin-top: auto;

}

.arrow-button-left:hover {
    opacity: 0.8;
}

.arrow-button-left {
    background-color: transparent;
    border: none;
    margin-top: auto;
    -webkit-transition: left 0.5s;
    transition: left 0.5s;

}

.arrow-button-right:hover {
    opacity: 0.8;
}